{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <h1>Vous n'avez pas accès a cette page</h1>



    <a href="{{ path('home') }}">Retour a l'accueil</a>


{% endblock %}