



{% block body %}
    <h1 class="text-center mt-3 mb-3">Les Différentes Questions</h1>

    <table class="table table-borderless text-center mt-5 spacing">
        <thead>
            <tr class="font-size-8">
                <th>Titre</th>
                <th>Categorie</th>
                <th>Question</th>

            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}

            <tr class="pt-3">

                <td class="font-size-5 table-info rounded-pill  " ><a class="text-decoration-none text-reset" href="{{ path('topic_show', {'id': topic.id}) }}">{{ topic.Titre }}  </a></td>

                <td class="font-size-5 table-success rounded-pill ">{{ topic.Categorie }}</td>
                <td class="font-size-5 table-danger rounded-pill ">{{ topic.question|slice(0, 50)|raw }}</td>

            </tr>

        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
