{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="text-center mt-2">Inscription</h1>

    {{ include('user/_form.html.twig') }}


{% endblock %}
